@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html {
    scroll-behavior: smooth;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --green: #50C878;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
}
.container {
    max-width: 1500px;
}

::-webkit-scrollbar {
    width: 0.2rem; 
}

::-webkit-scrollbar-track {
    background: var(--black); 
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 6px; 
}

/* -------- Portfolio-sec start -------- */
.portfolio-sec{
    height: 100vh;
    background-color: var(--black);
}
.portfolio-wrapper{
    display: flex;
}
.left-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}
.right-part{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-block: 3rem;
    width: 70%;
}
.profile-image{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin-bottom: 1rem;
}
.nav-link {
    width: 15rem;
    border: 1px solid var(--green);
    color: var(--white);
    transition: 0.4s;
    background-color: transparent;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--green);
}
.nav-link:focus, .nav-link:hover{
    color: var(--green);
}
.nav-pills .nav-link{
    border-radius: 0;
}
.left-icons{
    display: flex;
    gap: 0.5rem;
}
.left-icons i{
    font-size: 1.1rem;
    color: var(--white);
}
.left-skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    margin-top: 1rem;
}
.left-skills h3{
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}
.all-skills, .all-tools{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.all-skills:last-child, .all-tools:last-child{
    margin-bottom: 0;
}
.all-skills h4, .all-tools h4{
    font-size: 0.8rem;
    cursor: pointer;
}
.tab-content{
    position: relative;
    border-top: 1px solid var(--green);
    border-right: 1px solid var(--green);
    height: calc(100vh - 155px);
    overflow-y: scroll;
    padding: 1rem 0 0 2rem;
}
.portfolio-tab-wrapper{
    position: relative;
    width: 100%;
}
.portfolio-tab-wrapper::before{
    content: "";
    top: 40px;
    left: 0;
    width: 1px;
    height: 18px;
    background-color: var(--green);
    position: absolute;
}
.troble{
    display: flex;
    align-items: center;
}
.top-line{
    width: 3rem;
    height: 1px;
    position: relative;
    background-color: var(--white);
}
.top-line::before{
    content: "";
    left: -5px;
    top: -3px;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--white);
}
.circle-image{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    z-index: 1;
}
.troble-type .single-troble-type{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 5.7rem;
    margin-top: 1rem;
    border-left: 1px solid white;
    padding-left: 0.7rem;
}
.troble h2{
    font-size: 1.2rem;
    color: var(--white);
    margin-left: 1rem;
}
.troble-type h3, .troble-type h4{
    font-size: 1rem;
    color: var(--white);
}
.troble h2 i{
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--green);
}
.wrapper-troble{
    margin-bottom: 1rem;
}
.wrapper-troble:last-child{
    margin-bottom: 0;
}
.tab-pane {
    display: none;
}
.tab-pane.show {
    display: block;
}
.project-img{
    width: 15rem;
    border-radius: 0.9rem;
    overflow: hidden;
    margin-top: 0.5rem;
    transition: 0.5s;
    border: 2px solid var(--white);
}
.project-img-wrapper h3 i{
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--green);
}
.project-img:hover{
    border: 2px solid var(--green);
}
.left-part h2{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    color: var(--white);
}
/* -------- Portfolio-sec end -------- */